<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/registerCliente" method="post">
        <input type="text" name="nombre" placeholder="Nombre del cliente"><br>
        <input type="number" name="tel" placeholder="Telefono"><br>
        <input type="text" name="ubiLat" placeholder="Latitud"><br>
        <input type="text" name="ubiLong" placeholder="Longitud"><br>
        <input type="email" name="usuario" placeholder="correo Electronico"><br>
        <input type="password" name="contrasena" placeholder="Contraseña"><br>

        <input type="submit">
    </form>
</body>
</html>