<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina inicio</title>
</head>
<body>
    <form action="/registerProducto" method="post">
        <input type="text" name="Referencia" placeholder="Referencia">
        <input type="text" name="Nombre" placeholder="Nombre">
        <input type="number" name="Precio" placeholder="Precio">
        <input type="number" name="Stock" placeholder="Stock">
        <input type="file" name="imagen">

        <input type="submit">
    </form>
</body>
</html>